__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.db
*.bak
.DS_Store

# Artefactos de compilacion de LaTeX
DBP.aux
DBP.log
DBP.out
DBP.toc
DBP.synctex.gz

# Archivos de Android Studio
frontend/.idea/
frontend/.kotlin/
